@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://use.typekit.net/gcv8nck.css");

:root {
  --font-base: "aileron", sans-serif;

  --primary-color: #fcf8e8;
  --secondary-color: #94b49f;
  --black-color: #333333;
  --button-color: #df7861;
  --button-color-alt: #ecb390;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
