@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://use.typekit.net/gcv8nck.css");

:root {
  --font-base: "aileron", sans-serif;

  --primary-color: #fcf8e8;
  --secondary-color: #94b49f;
  --green-color: #94b49f;
  --lightGray-color: #e4e4e4;
  --gray-color: #f6f4f3;
  --brown-color: #46364a;
  --white-color: #f6f4f3;
  --black-color: #030303;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
